In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import  LabelEncoder,OneHotEncoder

In [3]:
df = pd.read_csv('twitter_training.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74681 entries, 0 to 74680
Data columns (total 4 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   2401                                                   74681 non-null  int64
 1   Borderlands                                            74681 non-null  object
 2   Positive                                               74681 non-null  object
 3   im getting on borderlands and i will murder you all ,  73995 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.3+ MB

In [5]:
df.head()

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [6]:
df=df.dropna()

In [7]:
df['tag'] = df['Borderlands']
df['text'] = df['im getting on borderlands and i will murder you all ,']
df = df.drop(['2401','Borderlands','Positive','im getting on borderlands and i will murder you all ,'],axis=1)

In [8]:
ohe = OneHotEncoder(categories=['tag'])

In [9]:
y = df.drop('text',axis=1)

In [10]:
y

               tag
0      Borderlands
1      Borderlands
2      Borderlands
3      Borderlands
4      Borderlands
...            ...
74676       Nvidia
74677       Nvidia
74678       Nvidia
74679       Nvidia
74680       Nvidia

[73995 rows x 1 columns]

In [11]:
x = df.drop('tag',axis=1)
x

                                                    text
0      I am coming to the borders and I will kill you...
1      im getting on borderlands and i will kill you ...
2      im coming on borderlands and i will murder you...
3      im getting on borderlands 2 and i will murder ...
4      im getting into borderlands and i can murder y...
...                                                  ...
74676  Just realized that the Windows partition of my...
74677  Just realized that my Mac window partition is ...
74678  Just realized the windows partition of my Mac ...
74679  Just realized between the windows partition of...
74680  Just like the windows partition of my Mac is l...

[73995 rows x 1 columns]

In [12]:
le = LabelEncoder()
le.fit(y['tag'])
dfle = le.fit_transform(y['tag'])
dfle

array([ 4,  4,  4, ..., 21, 21, 21])

In [13]:
xtrain,xtest,ytrain,ytest = train_test_split(x,dfle,random_state=101,test_size=0.2)

In [14]:
tfi = TfidfVectorizer()
s_xtrain= tfi.fit_transform(xtrain['text'])
s_xtest = tfi.transform(xtest['text'])

In [15]:
s_xtrain

<59196x29762 sparse matrix of type '<class 'numpy.float64'>'
	with 970379 stored elements in Compressed Sparse Row format>

In [16]:
s_xtest

<14799x29762 sparse matrix of type '<class 'numpy.float64'>'
	with 241358 stored elements in Compressed Sparse Row format>

In [17]:
gnb = GaussianNB()
gnb.fit(s_xtrain.toarray(),ytrain)

GaussianNB()

In [19]:
gnbpreds = gnb.predict(s_xtest.toarray())
accuracy_score(gnbpreds,ytest)

0.7748496520035137

In [20]:
mnb = MultinomialNB()
mnb.fit(s_xtrain,ytrain)
mnbpreds = mnb.predict(s_xtest)

In [21]:
accuracy_score(ytest,mnbpreds)

0.8211365632813028

In [22]:
bnb = BernoulliNB()
bnb.fit(s_xtrain,ytrain)
bnbpreds = bnb.predict(s_xtest)

In [23]:
accuracy_score(bnbpreds,ytest)

0.7570781809581728

In [26]:
print(f"Train Test Split Using Multinomial Naive Bayes: {accuracy_score(mnbpreds,ytest)}\n")
print(f"Train Test Split Using Gaussian Naive Bayes: {accuracy_score(gnbpreds,ytest)}\n")
print(f"Train Test Split Using Bernoulli Naive Bayes: {accuracy_score(bnbpreds,ytest)}\n")

Validation Using Multinomial Naive Bayes: 0.8211365632813028

Validation Using Gaussian Naive Bayes: 0.7748496520035137

Validation Using Bernoulli Naive Bayes: 0.7570781809581728